//弹性盒子

// 遇到的bug1：flex-1和overflow:visible会进行冲突，导致flex-1无效

.flex {
    display: flex;
}

.flex-v {
    flex-direction: column;
    width: 100%;
}

.flex-middle {
    align-items: center;
}
.flex-wrap {
    flex-wrap:wrap;
}
.flex-1 {
    flex: 1 1 0%;
    width:0;
}
.flex-v-1 {
    flex:1 1 0%;
}
.flex-zero-shrink {
    flex-shrink:0;
}
.flex-adapt {
    flex:1 0 auto;
}
.flex-justify-between {
    justify-content: space-between;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-around{
    justify-content: space-around;
}
